<h3>Available currencies</h3>
<p-dataView #dv [value]="currencies"
            [paginator]="true"
            rows="10"
            [totalRecords]="6"
            [rowsPerPageOptions]="[10,50,100]"
            [filterBy]=optionSelected>
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
            <p-dropdown placeholder="Filter By" [options]="filterOptions"
                        [style]="{'width':'60%'}"
                        (onChange)="onFilterChange($event)"
                        styleClass="ui-column-filter">
            </p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Search" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>
        <div class="ui-g-6 ui-md-4 iconOption">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
 <ng-template let-currency pTemplate="listItem">
    <div class="ui-g line-border">
      <div class="ui-g-12 ui-md-8 currency-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-2">Code: </div>
          <div class="ui-g-10 ui-sm-2"><b>{{currency.code}}</b></div>
          <div class="ui-g-2 ui-sm-2">Crypto: </div>
          <div class="ui-g-10 ui-sm-2"><b>{{currency.is_crypto}}</b></div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button pButton type="button" icon="pi pi-info" (click)="selectCurrency($event, currency)"></button>
      </div>
    </div>
  </ng-template>
  <ng-template let-currency pTemplate="gridItem">
    <div  class="ui-g-12 ui-md-2">
      <p-card>
        <p-header [style]="{'text-align':'center'}">
          <b>{{currency.code}}</b>
        </p-header>
        <div class="car-detail">Crypto - {{currency.is_crypto}}</div>
        <p-footer>
          <button pButton type="button" class="btn-info" icon="pi pi-info" (click)="selectCurrency($event, currency)"></button>
        </p-footer>
      </p-card>
    </div>
  </ng-template>
</p-dataView>
